h1 = title 'Mein aktuelles Mobilitätsprofil'
p Sie sind in der in der Woche <strong>#{distance_of_time_in_words(@subject.total_duration_per_week.minutes)}</strong> unterwegs und legen dabei eine Strecke von <strong>#{t('shared.distance_in_kilometer', kilometers: @subject.total_distance_per_week)}</strong> zurück.
p Von den <strong>#{distance_of_time_in_words(@subject.total_duration_per_week.minutes)}</strong> in denen Sie unterweg sind, können sie  <strong>#{distance_of_time_in_words(@subject.total_free_duration_per_week.minutes)}</strong> nutzen für andere Tätigkeiten.
p Die dabei enstehenden Mobilitätskosten belaufen sich auf <strong>#{t('shared.costs_in_chf', costs: @subject.total_conventional_costs_per_week)}</strong>.
.row
  .col-xs-6
    = link_to t('shared.back'), :back, class: 'btn btn-default'
  .col-xs-6
  = link_to t('shared.next'), subject_future_profile_path(@subject), class: 'btn btn-success pull-right'