p Im Folgenden haben Sie die Möglichkeit verschiedene Strecken, die Sie im Laufe <strong>einer Woche</strong> fahren, aufzulisten und anschließend genauer zu definieren. 

p Stellen Sie sich Ihre typische Woche vor, in der Sie eventuell täglich zur Arbeit und/oder zum Sport fahren, anderen Freizeitaktivitäten nachgehen, wie z.B. Einkäufen oder Termine (Arzt, Ämter, ...) erledigen, mit der Familien einen Ausflug machen, Freunde oder Bekannte besuchen und viele weitere Dinge tun. Überall sind Sie unterwegs und mobil. Wir möchten wissen, wie Sie diese Strecken bewältigen.

p Wenn Sie eine neue Strecke auflisten und abspeichern, dann erscheint diese in der sich anschliessenden Liste und zeigt, wie viel Sie insgesamt, für welchen Zweck unterwegs waren. 
  
p= link_to t('.new'), new_subject_route_path(@subject), class: 'text-success'
