p Im Folgenden haben Sie die Möglichkeit verschiedene Strecken, die Sie im Laufe <strong>einer Woche</strong> fahren, aufzulisten und anschließend genauer zu definieren. Stellen Sie sich Ihre typische Woche vor, in der Sie eventuell täglich arbeiten gehen/fahren, dem Sport oder anderen Freizeitaktivitäten nachgehen, die wöchentlichen Besorgungen (z.B. Einkäufe) oder Termine (Arzt, Ämter, ...) abarbeiten, mit der Familien einen Ausflug machen, Freunde oder Bekannte besuchen und viele weitere Dinge tun. Überall sind Sie unterwegs und mobil. Wir möchten wissen, wie Sie diese Strecken bewältigen und wie sie genau unterwegs sind.

p Wenn Sie eine neue Strecke auflisten und abspeichern, dann erscheint diese in der sich anschliessenden Liste und zeigt, wie viel Sie insgesamt, für welchen Zweck unterwegs waren. 
  
p= link_to t('.new'), new_subject_route_path(@subject), class: 'text-success'
