// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "font-awesome";

$font-size-base: 16px;
$font-size-h1: floor(($font-size-base * 1.8));
$font-size-h2: floor(($font-size-base * 1.5));
$font-size-h3: floor(($font-size-base * 1.2));
$progress-bar-success-bg: #D8E8CF;
$progress-bar-danger-bg: #EBD7D6;
$progress-bar-color: #000;

@import "bootstrap";
@import "bootstrap-slider/bootstrap-slider";
@import "profile";
@import "questionary";

.alert.danger{
  @extend .alert-danger;
}
  
.alert.notice {
    @extend .alert-info;
}

body {
  margin-top: 12px;
  padding-bottom: 20px;
}

.form-group {
  .slider.slider-horizontal {
    width:95%;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.tab-content {
  padding: 15px;
  border-width: 0px 1px 1px 1px;
  border-color: $navbar-default-toggle-border-color;
  border-style: solid;
  
  .pull-right {
    margin-right: 15px;
  }
}

label {
  display: block;
}

.table td.fit{
    white-space: nowrap;
    width: 1%;
}

.required abbr {
  border-bottom: none;
}

.routes {
  .panel-heading {
    h2 {
      .col-xs-1 {
        width: 60px;
        padding: auto;
        img { width: 40px; }
      }
      .col-xs-11 {
        margin: 0 auto;
      }
    }
  }

}

.nav-link {
  font-weight: bold;
  
  i.fa {
    margin: 0 10px;
  }
}

ul.quiz {
  list-style: none;
  padding: 0px;
  
  li {
    padding: 5px 0px;

    input {
      margin-right: 5px;
    }
  }
}
